<?php

$database = array(
  'database' => '{{ database[env][item.key]['db_name'] }}',
  'username' => '{{ database[env][item.key]['db_user'] }}',
  'password' => '{{ database[env][item.key]['db_pass'] }}',
);